@using Abp.Application.Services.Dto
@using Abp.Extensions
@using Abp.Timing;
@using Zero.Web.Areas.App.Startup
@model Zero.Web.Areas.App.Models.HostSettings.HostSettingsViewModel

<div class="tab-pane" id="OtherSettingsTab">
    <form id="OtherSettingsForm" class="form">
        <div class="checkbox-list">
            <h5>@L("QuickThemeSelection")</h5>
            <label for="Setting_IsQuickThemeSelectEnabled" class="checkbox checkbox-outline">
                <input id="Setting_IsQuickThemeSelectEnabled" type="checkbox" name="IsQuickThemeSelectEnabled" value="true" @(Model.Settings.UserManagement.IsQuickThemeSelectEnabled ? "checked=\"checked\"" : "")>
                <span></span>
                @L("IsQuickThemeSelectEnabled")
            </label>
        </div>
    </form>
</div>