<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source= Data/ParkingDB.db" />
    <add key="Version" value="2.1.28.4" />
    <add key="DateTime" value="10/02/2020 13:24:25" />
    <add key="DomainName" value="https://ajc.368up.com" />
    <add key="CardReaderIn" value="65602" />
    <add key="CardReaderOut" value="65604" />
    <add key="RtspCameraIn" value="rtsp://192.168.1.8:554/user=admin_password=tlJwpbo6_channel=1_stream=0.sdp?real_stream" />
    <add key="RtspCameraOut" value="rtsp://192.168.1.14:554/user=admin_password=tlJwpbo6_channel=1_stream=0.sdp?real_stream" />
    <add key="TimeWaiting" value="0" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
