@using Abp.Extensions
@using Zero.Web.Views.Shared.Components.MainHeader
@model Zero.Web.Views.Shared.Components.MainHeader.HeaderMenuItem
<li>
    <a href="@(!string.IsNullOrEmpty(Model.Menu.Url)?Model.Menu.Url.EnsureStartsWith('/'):"#")">
        @if (Model.ChildMenus.Any())
        {
            @Model.Menu.Name<i class="fi-rs-angle-down"></i>
            <ul class="sub-menu">
                @foreach (var childMenu in Model.ChildMenus)
                {
                    @await Html.PartialAsync("Components/MainHeader/Desktop/_MenusItem", new HeaderMenuItem
                    {
                        Menu = childMenu,
                        AllMenus = Model.AllMenus
                    })
                }
            </ul>
        }
        else
        {
            @Model.Menu.Name
        }
    </a>
</li>