@using Zero.Web.Areas.Cms.Models.PageLayout
@model PageLayoutConfigViewModel

<div class="col-12">
    <div class="card card-custom card-border mb-10 blockDraggable" id="blockDraggable_1" blockColumns="1">
        <div class="card-header border-bottom-0 min-h-25px px-10">
            <div class="card-title">
                <h3 class="card-label">@L("OneColumns")</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card card-custom card-border mb-10 blockDraggable" id="blockDraggable_2" blockColumns="2">
        <div class="card-header border-bottom-0 min-h-25px px-10">
            <div class="card-title">
                <h3 class="card-label">@L("TwoColumns")</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card card-custom card-border mb-10 blockDraggable" id="blockDraggable_3" blockColumns="3">
        <div class="card-header border-bottom-0 min-h-25px px-10">
            <div class="card-title">
                <h3 class="card-label">@L("ThreeColumns")</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card card-custom card-border mb-10 blockDraggable" id="blockDraggable_4" blockColumns="4">
        <div class="card-header border-bottom-0 min-h-25px px-10">
            <div class="card-title">
                <h3 class="card-label">@L("FourColumns")</h3>
            </div>
        </div>
    </div>
</div>
