@{
    ViewData["Title"] = "Giao dịch bị huỷ";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center text-uppercase">Thanh toán thất bại</h3>
    </div>
    <div class="col-lg-12">
        <p class="user-cancelled text-center">Bạn đã huỷ giao dịch thanh toán</p>
    </div>
</div>