@{
    ViewData["Title"] = "Thông báo giao dịch webhook";
}

<div class="row">
    <div class="col-lg-12">
        <form id="frmSearchWebhook" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control use-fu" name="transactionCode" id="transactionCode" placeholder="Mã giao dịch">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12 mt-3" id="webhooks" style="display: none;">
        <div class="row">
            <div class="col-lg-3 webhook">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title transactionCode">ALE00M7X0</h5>
                        <p class="card-text">
                            <span class="receivedTime"></span>
                        </p>
                        <button class="btn btn-sm viewWebHook" data-id="">Xem</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 webhook">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title transactionCode">ALE00M7X0</h5>
                        <p class="card-text">
                            <span class="receivedTime"></span>
                        </p>
                        <button class="btn btn-sm viewWebHook" data-id="">Xem</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="mt-3" id="webhookDetails" style="display:none;">
        <div class="col-lg-12" id="webhookSummary">
            <h3 class="text-uppercase">Chi tiết webhook <span class="value readonly-input use-fu" data-name="transactionCode"></span></h3>
            <p>
                <span class="value readonly-input use-fu" data-name="receivedDateStr"></span>
                <span class="value readonly-input use-fu" data-name="receivedTimeStr"></span>
            </p>
        </div>
        <div class="col-lg-12" id="webhookBody">
            <p>Mã giao dịch: <span class="value readonly-input use-fu" data-name="transactionCode"></span></p>
            <p>Mã đơn hàng: <span class="value readonly-input use-fu" data-name="orderCode"></span></p>
            <p>Số tiền: <span class="value readonly-input use-fu" data-name="amount"></span> (<span class="value readonly-input use-fu" data-name="currency"></span>)</p>
            <p>Phí người bán: <span class="value readonly-input use-fu" data-name="merchantFee"></span></p>
            <p>Phí người mua: <span class="value readonly-input use-fu" data-name="customerFeeAmount"></span></p>
            <p>Email người mua: <span class="value readonly-input use-fu" data-name="buyerEmail"></span></p>
            <p>Điện thoại người mua: <span class="value readonly-input use-fu" data-name="buyerPhone"></span></p>
            <p>Số thẻ: <span class="value readonly-input use-fu" data-name="cardNumber"></span></p>
            <p>Tên người mua: <span class="value readonly-input use-fu" data-name="buyerName"></span></p>
            <p>Trạng thái: <span class="value readonly-input use-fu" data-name="status"></span></p>
            <p>Mô tả trạng thái: <span class="value readonly-input use-fu" data-name="message"></span></p>
            <p>Lý do thất bại: <span class="value readonly-input use-fu" data-name="reason"></span></p>
            <p>Trả góp: <span class="value readonly-input use-fu" data-name="installment"></span></p>
            <p>Thẻ 3D: <span class="value readonly-input use-fu" data-name="is3D"></span></p>
            <p>Số tháng: <span class="value readonly-input use-fu" data-name="month"></span></p>
            <p>Mã ngân hàng: <span class="value readonly-input use-fu" data-name="bankCode"></span></p>
            <p>Tên ngân hàng: <span class="value readonly-input use-fu" data-name="bankName"></span></p>
            <p>Hình thức thanh toán: <span class="value readonly-input use-fu" data-name="method"></span></p>
            <p>Thời gian thanh toán: <span class="value readonly-input use-fu" data-name="transactionTime"></span></p>
            <p>Thời gian thành công: <span class="value readonly-input use-fu" data-name="successTime"></span></p>
            <p>Hotline ngân hàng: <span class="value readonly-input use-fu" data-name="bankHotline"></span></p>
            <p>Xác thực thông tin: <span class="value readonly-input use-fu" data-name="validChecksum"></span></p>
            <div class="form-group">
                <label for="rawContent">Nội dung nguyên bản: </label>
                <textarea class="form-control use-fu" rows="5" name="rawContent" id="rawContent"></textarea>
            </div>

            
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/webhooks.js" asp-append-version="true"></script>
}