@model Zero.Web.Areas.Park.Models.Student.CreateOrEditStudentViewModel

<div class="row">
    <table class="display table table-bordered table-hover input-table mb-0" id="StudentDetailTable">
        <thead>
        <tr>
            <th class="text-center text-middle w-40"></th>
            <th class="text-center text-middle">@L("Card")</th>
            <th class="text-center text-middle">@L("Note")</th>
            <th class="text-center text-middle w-30"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Student.StudentDetails != null && Model.Student.StudentDetails.Any())
        {
            foreach (var detail in Model.Student.StudentDetails)
            {
                await Html.RenderPartialAsync("Components/Details/_StudentDetail", detail);
            }
        }
        <tr id="LastDetailRowStudentDetail">
            <td colspan="6" class="text-center">
                <button class="btn btn-sm btn-outline-primary" id="btnAddDetailStudentDetail">
                    <i class="fa fa-plus"></i> @L("Create")
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>